<%= render 'layouts/header' %>
<h5 class="text-center">履歴一覧</h5>

<div class="main">
  <ul>
    <% @user_areas.each do |area| %>
      <% if area.status == 0 %>
      <li class="city">
        <%= area.ward %>
        <%= area.town %>
        <%= "#{area.city_block}丁目" %>

        <time datetime="<%= area.created_at %>">
          <%= time_ago_in_words(area.created_at) %>
        </time>
    
        <%= link_to visit_path(area) do %>
          <i class="fa fa-plus-circle fa-lg" style="color: #c8c8cb;"></i>
        <% end %>
      <% end %>
    <% end %>
