<h5 class="text-center">訪問履歴の登録</h5>
  <%= form_for @visit, url: visits_path do |f| %>
    <div class="form-group">
      <p>顧客名</p>
      <%= f.text_field :customer, placeholder: "○○邸", class: 'form-control' %>
    </div>

    <div class="form-group">
      <p>アポイント</p>
      <%= f.text_field :appointment, placeholder: "3/1 Aアポ", class: 'form-control' %>
    </div>

    <div class="form-group">
      <p>訪問日</p>
      <%= f.text_field :visit, placeholder: "4/1 9時訪問", class: 'form-control' %>
    </div>

    <div class="form-group">
      <p>成約</p>
      <%= f.text_field :contract, placeholder: "4/5 成約", class: 'form-control' %>
    </div>

    <div class="form-group">
      <p>memo</p>
      <%= f.text_field :note, placeholder: "メモを入力", class: 'form-control' %>
    </div>

    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :area_id, @area.id %>  

    <div class="wrap">
      <input type="submit" class="btn btn-primary btn-block" value="登録する" >
    </div>
  <% end %>
