<%= render 'layouts/header' %>
<% if @area.status == 1 %>
  <h4 class="month">6ヶ月terri&nbsp;<i class="fas fa-car-side"></i></h4>
<% end %>

<% if @area.status == 2 %>
  <h4 class="month">特別terri&nbsp;<i class="fas fa-car-side"></i></h4>
<% end %>

<% if @area.status == 0 %>
  <h4 class="month">手離したterri&nbsp;<i class="fas fa-car-side"></i></h4>
<% end %>

 <div class="main"> 
  <div class="area_title">
    <%= @area.ward %> 
    <%= @area.town %>
    <%= "#{@area.city_block}丁目" %>
  </div>
  
  <% if user_signed_in? && @area.user == current_user %>
    <% unless @area.status == 0 %>
      <%= link_to "訪問履歴の登録", visit_new_path, class:"btn btn-primary btn-lg visit_btn" %>
    <% end %> 
  <% end %>
 
<% if @visits.blank? %>
  <p>訪問履歴はありません。</p>
<% end %>

  <div class="vusit">
    <ul>
      <% @visits.each do |visit| %> 
        <li class="visit_list city">
          <%= visit.customer %>
          <%= visit.appointment %>
          <%= visit.contract %>
          <%= visit.note %> 
          <time datetime="<%= visit.updated_at %>">
            <%= time_ago_in_words(visit.updated_at) %>
          </time>
          
          <% unless @area.status == 0 %>
            <%= link_to edit_visit_path(visit) do %>
             <button type="button" class="btn btn-outline-primary btn-sm">編集</button>
            <% end %>
          <% end %>
        </li>
      <% end %> 
    </ul>   
  </div>  
</div> 

