<%= render 'layouts/header' %>
<div class="title">
  <div class="sample_image">
    <img src= <%= user_iamge(@user)%> class="icon_image">
  </div>
  <h1><%= current_user.username %>のテリトリ―</h1>
</div>

<% if @areas.blank? %>
<div class="message">
  <h3>テリを登録してみよう！</h3>
  <div class="icon">
    <i class="fas fa-angle-double-down fa-5x"></i>
  </div>
</div>

<% else %>
<h4 class="month">6ヶ月テリ</h4>
<div class="main">
  <ul>
    <% @areas.each do |area| %>
      <% if area.status == 1 %>
      <li class="city">
        <%= area.ward %>
        <%= area.town %>
        <%= "#{area.city_block}丁目" %>
        
        <time datetime="<%= area.created_at %>">
          <%= time_ago_in_words(area.created_at) %>
        </time>
        
        <%= link_to area_update_path metod: :post do %>
          <i class="fas fa-car-side"></i>移動</i>
        <% end %>

        <%= link_to "#" do %>
          <i class="far fa-edit">訪問履歴リンクへ</i>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<h4 class="month">訳テリ</h4>
<div class="main">
  <ul>
    <% @areas.each do |area| %>
      <% if area.status == 2 %>
      <li class="city">
        <%= area.ward %>
        <%= area.town %>
        <%= "#{area.city_block}丁目" %>
        <time datetime="<%= area.created_at %>">
          <%= time_ago_in_words(area.created_at) %>
        </time>
        
          <%= link_to area_update_path metod: :post do %>
          <i class="fas fa-car-side"></i>移動</i>
        <% end %>

        <%= link_to "#" do %>
          <i class="far fa-edit">訪問履歴リンクへ</i>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>
