<%= render 'layouts/header' %>
<div class="title">
  <div class="sample_image">
   <img src= <%= user_iamge(@user)%> class="icon_image">
  </div>
  <h2 class="name text_center"><%= current_user.username %>さん</h2>
</div>

<% if @user_areas.blank? %>
<div class="message">
  <h3 class="text-center">お疲れ様です。<br>テリを登録してみよう！</h3>
  <div class="icon">
    <i class="fas fa-angle-double-down fa-3x faa-shake animated" style="color: #BB0000;"></i>
  </div>
</div>

<% else %>
<h4 class="month">6ヶ月terri&nbsp;<i class="fas fa-car-side"></i></h4>
  <ul>
    <% @user_areas.each do |area| %>
      <% if area.status == 1 %>
      <li class="city">
        <%= area.ward %>
        <%= area.town %>
        <%= "#{area.city_block}丁目" %>

        <time datetime="<%= area.created_at %>">
          <%= time_ago_in_words(area.created_at) %>
        </time>
    
        <%= link_to visit_path(area) do %>
          <i class="fa fa-plus-circle fa-lg" style="color:#77d9a8;"></i>
        <% end %>

        <%= link_to area_update_path(area.id, metod: :post) do %>
          <button type="button" class="btn btn-outline-dark btn-sm">離れる</button>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>


<h4 class="month">特別terri&nbsp;<i class="fas fa-car-side"></i></h4>

  <ul>
    <% @user_areas.each do |area| %>
      <% if area.status == 2 %>
      <li class="city">
        <%= area.ward %>
        <%= area.town %>
        <%= "#{area.city_block}丁目" %>

        <time datetime="<%= area.created_at %>">
          <%= time_ago_in_words(area.created_at) %>
        </time>
    
        <%= link_to visit_path(area) do %>
          <i class="fa fa-plus-circle fa-lg" style="color:#d8f255;"></i>
        <% end %>

        <%= link_to area_update_path(area.id, metod: :post) do %>
          <button type="button" class="btn btn-outline-dark btn-sm">離れる</button>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
