<h5>テリ登録</h5>
<div class="send">
  <%= form_for @area, url: area_create_path do |f| %>
    <div class="field area">
      <%= f.label :ward, "区市" %>
      <%= f.select :ward, ['千代田区', '中央区', '港区','新宿区','文京区','台東区', '墨田区', '江東区', '品川区', '目黒区' , '大田区',
      ' 世田谷区', ' 渋谷区', '中野区', '杉並区', '豊島区', '北区', '荒川区', '板橋区', '練馬区', '足立区', '葛飾区', '江戸川区', '八王子市',
      ' 立川市', '武蔵野市', '三鷹市', '青梅市', '府中市','昭島市','調布市','町田市', '小金井市', '小平市', '日野市', '東村山市', '国分寺市', 
      '国立市', '福生市', '狛江市','東大和市','清瀬市','東久留米市','武蔵村山市','多摩市','稲城市','羽村市', 'あきる野市', '西東京市'],
      { include_blank: '区市・区名を選択' }, { class: 'select'} %>
    </div>
    
    <div class="field town">
      <%= f.label :town, "町村" %>
      <%= f.text_field :town, placeholder: "町名を入力" ,class: 'text' %>
      <%= f.select :town, Area.all.map{|t| [t.town, t.town]}, include_blank: '町名を選択' %>
    </div>
    
    <div class="field city_block">
      <%= f.label :city_block, "番地" %>
      <%= f.select :city_block, (1..9).to_a, { include_blank: '選択' }, { class: 'select'} %>
      <span>丁目</span>
    </div>
  
    <div class="status"> 
      <%= f.label :status_1, "6ヶ月テリ" %>
      <%= f.radio_button :status, "1" %>
      
      <%= f.label :status_2, "訳テリ" %>
      <%= f.radio_button :status, "2" %>
    </div>
  
    <div class="field wrap">
      <input type="submit" class="btn btn-primary" value="登録する", data-confirm="テリに登録しますか？"  >
    </div>
  <% end %>
</div>