<h5 class="sarch_name"><%= @user.username %>さん</h5>


<% @areas.each do |area| %>
<% if area.status == 1 || area.status  == 2 %>
  <ul>
    <li class="city">
      <%= area.ward %>
      <%= area.town%>
      <%= "#{area.city_block}丁目" %>

      <time datetime="<%= area.created_at %>">
        <%= time_ago_in_words(area.created_at) %>
      </time> 

      <%= link_to visit_path(area) do %>
        <i class="fa fa-plus-circle fa-lg" style="color: #c8c8cb;"></i>
      <% end %>            
    </li>  
  </ul>    
<% end %>
<% end %>


