<div class="container">
  <% if user_signed_in? %>
  <footer class="footer">
    <nav>
      <div class="btn-toolbar">
        <%= link_to root_path do %>
          <button type="button" class="btn btn-info"><i class="fas fa-home fa-2x"></i><br>ホーム</button>
        <% end %>
        
        <%= link_to edit_user_registration_path(current_user) do %>
          <button type="button" class="btn btn-info"><i class="fas fa-user-cog fa-2x"></i><br>設定</button>
        <% end %>
        
        <%= link_to area_new_path do %>
          <button type="button" class="btn btn-info"><i class="fas fa-map-marker-alt fa-2x"></i><br>テリ登録</button>
        <% end %>
        
        <%= link_to "#" do %>
          <button type="button" class="btn btn-info"><i class="fas fa-search fa-2x"></i><br>検索</button>
        <% end %>
        
        <%=link_to "#" do %>
          <button type="button" class="btn btn-info"><i class="fas fa-user-friends fa-2x"></i><br>ユーザー</button>
        <% end %>
      </div>
    </nav>
  </footer>
  <% end %>
</div>