<% if user_signed_in? %>
<nav class="navbar-light bg-light fixed-bottom">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item nav-link"><%= link_to root_path do %><i class="fas fa-home fa-lg"></i><% end %></li>
    <li class="nav-item nav-link"><%= link_to edit_user_registration_path do %><i class="fas fa-cog fa-lg"></i><% end %></li>
    <li class="nav-item nav-link"><%= link_to new_area_path do %><i class="fas fa-map-marker-alt fa-lg"></i><% end %></li>
    <li class="nav-item nav-link"><%= link_to search_path do %><i class="fas fas fa-search fa-lg"></i><% end %></li>
    <li class="nav-item nav-link"><%=link_to user_show_path(@user) do %><i class="fas fa-user-friends fa-lg"></i><% end %></li>
  </ul>
</nav>
<% end %>